= form_for @fish do |f|
  -if @fish.errors.any?
    #error_explanation
      %h2= "#{pluralize(@fish.errors.count, "error")} prohibited this fish from being saved:"
      %ul
        - @fish.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .actions
    = f.submit 'Save'
